@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;400;600;800&display=swap");
.projects-ar-page {
  font-family: "Noto Sans Arabic", sans-serif;
}
.projects-ar-page .projects .project-1,
.projects-ar-page .projects .project-2,
.projects-ar-page .projects .project-3,
.projects-ar-page .projects .project-4,
.projects-ar-page .projects .project-5,
.projects-ar-page .projects .project-6,
.projects-ar-page .projects .project-7,
.projects-ar-page .projects .project-8 {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  overflow: hidden;
  border-bottom: 3px solid var(--gold);
}
@media screen and (max-width: 768px) {
  .projects-ar-page .projects .project-1,
.projects-ar-page .projects .project-2,
.projects-ar-page .projects .project-3,
.projects-ar-page .projects .project-4,
.projects-ar-page .projects .project-5,
.projects-ar-page .projects .project-6,
.projects-ar-page .projects .project-7,
.projects-ar-page .projects .project-8 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .projects-ar-page .projects .project-1 .left video,
.projects-ar-page .projects .project-2 .left video,
.projects-ar-page .projects .project-3 .left video,
.projects-ar-page .projects .project-4 .left video,
.projects-ar-page .projects .project-5 .left video,
.projects-ar-page .projects .project-6 .left video,
.projects-ar-page .projects .project-7 .left video,
.projects-ar-page .projects .project-8 .left video {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .projects-ar-page .projects .project-1 .right,
.projects-ar-page .projects .project-2 .right,
.projects-ar-page .projects .project-3 .right,
.projects-ar-page .projects .project-4 .right,
.projects-ar-page .projects .project-5 .right,
.projects-ar-page .projects .project-6 .right,
.projects-ar-page .projects .project-7 .right,
.projects-ar-page .projects .project-8 .right {
    background-color: var(--dark);
  }
}
.projects-ar-page .projects .project-1 .right p,
.projects-ar-page .projects .project-2 .right p,
.projects-ar-page .projects .project-3 .right p,
.projects-ar-page .projects .project-4 .right p,
.projects-ar-page .projects .project-5 .right p,
.projects-ar-page .projects .project-6 .right p,
.projects-ar-page .projects .project-7 .right p,
.projects-ar-page .projects .project-8 .right p {
  text-align: end;
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 2rem;
  font-weight: 600;
}
.projects-ar-page .projects .project-1 .right .buttons,
.projects-ar-page .projects .project-2 .right .buttons,
.projects-ar-page .projects .project-3 .right .buttons,
.projects-ar-page .projects .project-4 .right .buttons,
.projects-ar-page .projects .project-5 .right .buttons,
.projects-ar-page .projects .project-6 .right .buttons,
.projects-ar-page .projects .project-7 .right .buttons,
.projects-ar-page .projects .project-8 .right .buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button {
  cursor: pointer;
  background: var(--gold);
  color: var(--light);
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button .icon,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button .icon {
  background: var(--light);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button:hover .icon,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button .icon svg,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--gold);
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button:hover .icon svg,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}
.projects-ar-page .projects .project-1 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-2 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-3 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-4 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-5 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-6 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-7 .right .buttons .cssbuttons-io-button:active .icon,
.projects-ar-page .projects .project-8 .right .buttons .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}/*# sourceMappingURL=projects-ar.css.map */