// start home
.home {
  width: 100vw;
  background-color: var(--dark);
  position: relative;
  overflow: hidden;
  svg {
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .left-part {
    position: absolute;
    top: 30%;
    left: 10%;
    @media screen and (max-width: 768px) {
      top: 10%;
      left: 5%;
    }
    h1 {
      font-size: 5rem;
      margin-bottom: 1.5rem;
      font-weight: 900;
      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
    }
    button {
      cursor: pointer;
      padding: 1em 3.3em;
      transform: perspective(200px) rotateX(15deg);
      font-weight: 900;
      border: none;
      border-radius: 5px;
      background-color: var(--light);
      will-change: transform;
      transition: all 0.3s;
    }
    button:hover {
      transform: perspective(180px) rotateX(30deg) translateY(2px);
    }
    button:active {
      transform: perspective(170px) rotateX(36deg) translateY(5px);
    }
    a {
      color: var(--dark);
      padding: 0.5rem;
      border-radius: 10px;
      font-size: 1.3rem;
    }
  }
  .right-part {
    position: absolute;
    bottom: 0%;
    right: -20%;
    @media screen and (max-width: 768px) {
      right: -10%;
    }
    img {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
  }
}
// end home
// start about heading
.about-heading {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: var(--dark);
    font-size: 8rem;
    letter-spacing: 4px;
    @media screen and (max-width: 640px) {
      font-size: 3.7rem;
      text-align: center;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      font-size: 6rem;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 6rem;
    }
  }
}
// end about heading
// start about
.about {
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: flex-start;
      margin-left: 0;
    }
    .about-content {
      max-width: 700px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: 20px;
      margin-left: 5rem;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        padding: 10px;
        margin-left: 0;
      }
      h1 {
        color: var(--dark);
        font-weight: 900;
        font-size: 3rem;
        letter-spacing: 5px;
        position: relative;
        @media screen and (max-width: 768px) {
          font-size: 2rem;
        }
        &::before {
          content: "ABOUT";
          position: absolute;
          right: -20px;
          top: -40px;
          color: rgba(0, 0, 0, 0.4);
          font-size: 7rem;
          z-index: -1;
        }
      }
      p {
        color: var(--dark);
        line-height: 2.6;
        letter-spacing: 2px;
        font-size: 1.1rem;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    .image {
      img {
        width: calc(100% - 60%);
        height: 50%;
        margin-left: 10rem;
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          width: 55%;
        }
      }
    }
  }
}
// end about
// start icons
.icons {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--dark);
}
.icons .row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 64px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.icons .icon {
  color: rgba(255, 255, 255, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}
.icons .icon:hover {
  transition: 0s;
  color: var(--gold);
  text-shadow: 0 0 120px var(--gold);
}
// end icons
// start skills heading
.skills-heading {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: var(--dark);
    font-size: 10rem;
    letter-spacing: 4px;
    @media screen and (max-width: 640px) {
      font-size: 4rem;
      text-align: center;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      font-size: 6rem;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 7rem;
    }
  }
}
// end skills heading
// start skills
.skills {
  width: 100vw;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  .boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5,
    .box-6,
    .box-7,
    .box-8,
    .box-9,
    .box-10,
    .box-11,
    .box-12,
    .box-13,
    .box-14,
    .box-15,
    .box-16,
    .box-17,
    .box-18,
    .box-19,
    .box-20,
    .box-21 {
      width: 30%;
      height: 400px;
      border: 2px solid var(--gold);
      padding: 2rem;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.3rem;
      transition: 0.3s;
      &:hover {
        background-color: var(--gold);
      }
      &:hover svg {
        background-color: var(--light);
        border-radius: 50%;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
        height: 100%;
      }
      img {
        width: 30%;
      }
      svg {
        width: 20%;
        @media screen and (max-width: 768px) {
          width: 40%;
        }
      }
      h1 {
        font-weight: 200;
        letter-spacing: 2px;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
    .box-20,
    .box-21 {
      img {
        background-color: var(--light);
      }
    }
  }
}
// end skills
// start work heading
.projects-heading {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: var(--dark);
    font-size: 10rem;
    letter-spacing: 4px;
    @media screen and (max-width: 640px) {
      font-size: 4rem;
      text-align: center;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      font-size: 6rem;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 7rem;
    }
  }
}
// end work heading
// start work
.work {
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--dark);
  padding: 50px 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
  }
  @media (min-width: 1024px) and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .work-boxs {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    .first,
    .second {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 6rem;
      }
      div {
        height: 300px;
        background-color: var(--dark);
        color: var(--light);
        padding: 1rem;
        border-radius: 14px;
        min-width: 400px;
        margin-left: -130px;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
          width: 50%;
          margin-left: 0;
        }
        a {
          display: flex;
          justify-content: start;
          align-items: flex-end;
          position: relative;
          top: 80px;
          height: 100%;
          color: var(--dark);
          font-size: 1.3rem;
          font-weight: 600;
          @media screen and (max-width: 768px) {
            top: 70px;
          }
        }
        &:hover {
          transform: translateY(-16px) rotate(3deg);
        }
        &:hover ~ div {
          transform: translateX(130px);
        }
      }
      .box-1 {
        background-image: url("../../../images/project-6.webp");
      }
      .box-2 {
        background-image: url("../../../images/project-3.webp");
      }
      .box-3 {
        background-image: url("../../../images/project-1.webp");
      }
      .box-4 {
        background-image: url("../../../images/project-2.webp");
      }
      .box-5 {
        background-image: url("../../../images/project-5.webp");
      }
      .box-6 {
        background-image: url("../../../images/project-9.webp");
      }
      .box-7 {
        background-image: url("../../../images/project-7.webp");
      }
      .box-8 {
        background-image: url("../../../images/project-8.webp");
      }
    }
  }
}
// end work
// start snippet heading
.snippet-heading {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: var(--dark);
    font-size: 10rem;
    letter-spacing: 4px;
    @media screen and (max-width: 640px) {
      font-size: 3rem;
      text-align: center;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      font-size: 6rem;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 7rem;
    }
  }
}
// end snippet heading
// start snippet
.snipet {
  width: 100vw;
  background-color: var(--dark);
  position: relative;
  overflow: hidden;
  svg {
    width: 100vw;
    height: 120vh;
    z-index: -1;
    @media screen and (max-width: 640px) {
      height: 210vh;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      height: 450vh;
    }
  }
  .photos {
    position: absolute;
    top: 0;
    left: 0;
    .upper,
    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
      }
      img {
        width: calc(100% - 70%);
        height: 100%;
        cursor: grab;
        @media screen and (max-width: 768px) {
          width: calc(100% - 20%);
        }
      }
    }
  }
}
// end snippet
// start contact heading
.contact-heading {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: var(--dark);
    font-size: 10rem;
    letter-spacing: 4px;
    @media screen and (max-width: 640px) {
      font-size: 4rem;
      text-align: center;
    }
    @media (min-width: 641px) and (max-width: 768px) {
      font-size: 6rem;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 7rem;
    }
  }
}
// end contact heading
// start contact
.contact {
  background-color: var(--dark);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  #contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact-info .links {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      gap: 1rem;
      min-width: 0;
      max-width: 500px;
      margin: 2rem 0;
    }
  }
  #contact-info a {
    text-decoration: none;
    color: var(--light);
    font-size: 2.5rem;
    @media screen and (max-width: 768px) {
      margin: 2rem 0;
    }
  }
  #contact-info .links a {
    display: block;
    position: relative;
  }
  #contact-info .links a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: all 0.3s;
  }
  #contact-info .links a:hover::after {
    --transformed-box-diagonal-length: 164%;
    width: var(--transformed-box-diagonal-length);
    left: calc((100% - var(--transformed-box-diagonal-length)) / 2);
  }
  #contact-info .links a div {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  #contact-info .links a:hover div {
    transform: rotate(-35deg) skew(20deg);
  }
  .links a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 5px;
  }
  .links a span:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .links a:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
  }
  .links a:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: 0.8;
  }
  .links a:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: 0.6;
  }
  .links a:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: 0.4;
  }
  .links a:hover span:nth-child(1) {
    opacity: 0.2;
  }
  .links a.linkedin-background span {
    background: #0072b1;
  }
  .links a.github-background span {
    background: #171515;
  }
  .links a.gmail-background span {
    background: #ea4335;
  }
  .links a.phone-background span {
    background: #34a853;
  }
}
// end contact
